<div class="container">
  <input type="hidden" formControlName="id">
  <div class="card-body">
    <form [formGroup]="authorForm">
      <div class="form-row">
        <div class="name"><h2>First name</h2></div>
        <div class="value">
          <input class="input--style-6" style="width: 592px" type="text" placeholder="First name" formControlName="firstName">
        </div>
      </div>
      <div class="form-row">
        <div class="name"><h2>Last name</h2></div>
        <div class="value">
          <div class="input-group js-input-file">
            <input class="input--style-6" style="width: 592px" type="text" placeholder="Last name" formControlName="lastName">
          </div>
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-primary btn--radius" type="submit" (click)="onSubmit($event)">Submit</button>
</div>

